#Background-Vid1{
    position: absolute;
    left: 5.5%;
}
.navbar-brand{
    padding-left: 10%;
}

.nav-item{
    padding-right: 10%;
}
body{
    background-color: rgb(88, 87, 87);
}
.nav-link, .navbar-brand{
    color: rgb(255, 255, 255);
}
.active{
    margin-left: 300px;
}